<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="/layout/main::layout('Home',~{::main})"
        lang="en"
>
<head>
    <title>Module Details - Anti-Corruption Platform</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/learning-modules}">Learning Modules</a></li>
            <li><a th:href="@{/webinars}">Webinars & Workshops</a></li>
            <li><a th:href="@{/login}">Login</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1 th:text="${module.title}">Module Title</h1>
    <p th:text="${module.description}">Module Description</p>

</main>
</body>
</html>
