<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="/layout/main::layout('Home',~{::main})"
      lang="en"
>
<head>
    <title>Manage Case Studies - Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/admin-dashboard}">Admin Dashboard</a></li>
            <li><a th:href="@{/login}">Login</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>Manage Case Studies</h1>
    <div th:each="caseStudy : ${caseStudies}">
        <p th:text="${caseStudy.title}">Case Study Title</p>
        <p th:text="${caseStudy.summary}">Case Study Summary</p>
        <a th:href="@{/admin-dashboard/case-studies/delete/{id}(id=${caseStudy.id})}">Delete Case Study</a>
    </div>
</main>
</body>
</html>
