<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="/layout/main::layout('Home',~{::main})"
        lang="en"
>
<head>
    <title>Manage Users - Admin Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/admin-dashboard}">Admin Dashboard</a></li>
            <li><a th:href="@{/login}">Login</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>Manage Users</h1>
    <div th:each="user : ${users}">
        <p th:text="${user.username}">User Name</p>
        <p th:text="${user.email}">User Email</p>
        <a th:href="@{/admin-dashboard/users/delete/{id}(id=${user.id})}">Delete User</a>
    </div>
</main>
</body>
</html>
