<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="/layout/main::layout('Home',~{::main})"
        lang="en"
>
<head>
    <title>View Feedback - Anti-Corruption Platform</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"


    />
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/}">Home</a></li>
            <li><a th:href="@{/help-center}">Help Center</a></li>
            <li><a th:href="@{/feedback/add}">Add Feedback</a></li>
            <li><a th:href="@{/login}">Login</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1>Feedback</h1>
    <div th:each="feedback : ${feedbacks}">
        <p th:text="${feedback.message}">Feedback Message</p>
    </div>
</main>
</body>
</html>
