<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="/layout/main::layout('Volunteer Opportunities',~{::main})"
        lang="en"
>

<body>

</header>
<main>
  <h1 th:replace="~{layout/fragments/TextHeader::TextHeader('Volunteer Opportunities')}"></h1>
  <div class="card bg-gray-800 p-4 m-4 rounded-md shadow-lg mx-auto" style="max-width: 600px;" th:each="opportunity : ${opportunities}">
  <div class="card-body">
    <h2 class="text-white text-xl font-semibold mb-2 text-center" th:text="${opportunity.title}">Opportunity Title</h2>
    <p class="text-gray-300 mb-4 text-center" th:text="${opportunity.description}">Opportunity Description</p>
    <a class="text-blue-500 hover:underline block text-center" th:href="@{/volunteer-opportunities/{id}(id=${opportunity.id})}">View Details</a>
  </div>
</div>
</main>
</body>
</html>
